.feedback-container {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  animation: popup 0.4s;
}

.feedback-only {
  grid-template-columns: 1fr;
}

.feedback-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
  font-weight: 800;
  border-radius: 8px;
  margin-right: 10px;
  padding: 10px;
  margin: 10px;
}

.success-message {
  background: green;
}

.failure-message {
  background: black;
}

.next-btn {
  padding: 10px;
  background: cornflowerblue;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 8px;
  width: 75%;
  text-align: center;
  cursor: pointer;
}

@keyframes popup {
  from {
    bottom: -10%;
  }

  to {
    bottom: 0%;
  }
}

@media only screen and (min-width: 992px) {
  .next-btn {
    width: 90%;
  }
}
